<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online E-comerce</title>
    <link href="../styles/styles.css" rel="stylesheet">
  </head>
  <body>
    <section class="bg-color-2">
      <div class="bg-color-2">
        <header class="section header">
          <a href="../index.html" class="header-title f-color-1 extra-bold">Online fake shop</a>
          <ul class="header-links">
            <li><a href="../views/cart.html" class="f-color-1 extra-bold">Carrito</a></li>
          </ul>
        </header>
      </div>
    </section>
    <div class="section cart-container">
    </div>
    <script src="../src/cart.js"></script>
  </body>
</html>
