<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Online Sop</title>
    <link href="../styles/styles.css" rel="stylesheet" />
  </head>
  <body class="body">
    <section class="section bg-color-1">
      <header class="header">
        <a href="#" class="header-title">Online fake shop</a>
        <ul class="header-links">
          <li><a href="#" class="f-color-1">Link two</a></li>
          <li><a href="#" class="f-color-1">Link one</a></li>
        </ul>
      </header>
    </section>

    <div class="section"></div>

    <script src="../src/single-product.js"></script>
  </body>
</html>
