<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Online E-comerce</title>
    <link href="../styles/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="body bg-light">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light border shadow-sm fixed-top"
    >
      <div class="container">
        <a class="navbar-brand" href="/index.html">Online E-Commerce</a>

        <div class="d-flex ms-auto">
          <a class="nav-link" href="/views/cart.html">Cart</a>
        </div>
      </div>
    </nav>
    <div
      class="single-product d-flex justify-content-center align-items-center py-5"
    ></div>
    <script src="/src/single-product.js"></script>
  </body>
</html>
