* {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 42px;
}

.landing-p {
  font-size: 18px;
}

.bg-color-1 {
  background-color: #0D0C1D;
}

.bg-color-2 {
  background-color: #F5F3F5;
}

.bg-color-3 {
  background-color: #FFB140;
}

.f-color-1 {
  color: #0D0C1D;
}

.f-color-2 {
  color: #F5F3F5;
}

.extra-bold {
  font-weight: 800;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 18%;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #0D0C1D;
}

.header-links {
  display: flex;
  gap: 30px;
}

.reciving-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 80px 0;
}

.product-img {
  display: block;
  max-width: 150px;
  height: auto;
  margin: auto;
}

.product-container {
  max-width: 350px;
  height: auto;
  padding: 10px 15px;
  border: 6px solid #0C0C1D;
  border-radius: 10px;
}

.product-section {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.img-container {
  padding: 1px;
  background-color: #ffffff;
  margin: 10px 50px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid #0D0C1D;
}

.btn {
  padding: 12px 18px;
  border: 2px;
  border-radius: 6px;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

.product-btn {
  background-color: #279AF1;
  color: #F5F3F5;
}

.product-btn:hover {
  background-color: #F5F3F5;
  color: #279AF1;
  border-color: #279AF1;
}

.btn-add-cart {
  background-color: #00A878;
  color: #F5F3F5;
}

.btn-add-cart:hover {
  background-color: #F5F3F5;
  color: #00A878;
}

.btn.add-cart:active {
  background-color: #00A878;
  color: #F5F3F5;
}

.center-container {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.single {
  max-width: 500px;
}

.cart-product-container {
  margin-top: 20px;
  display: flex;
  max-height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #0D0C1D;
  padding: 70px 5px;
}

.cart-img {
  width: auto;
  height: 100px;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
